.entry {
    height: 180px;   
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
}
.entry span{
    justify-content: flex-start;
    background-color: #ffffff;
    border:0;
    width: 100%;
    border-bottom:1px solid black;
}
.entry li{
    list-style: none;
    height: 45px;
    text-indent: 10px;
    align-items: center;
    display: flex;

}
.entry ul{
    padding: 0;
    list-style-type: none;
}
.entry li.hovered {
    background-color: gray;
    color: #ffffff;
}
.entry li input[type="checkbox"] {
    margin-left: auto;
    float: right; 
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

.entry li input[type="text"] {
    width: 50%;
    margin-left: 5px;
}