#logs {
    z-index: 4;
    position: fixed;
    bottom: -230px;
    width: 100%;
    height: auto;
    right:0px;
    background-color: white;
    border-left: 1px solid purple;
    border-top: 1px solid purple;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: bottom 0.35s;
}

.logs{
    height:220px;   
    align-items: left;
    justify-content: flex-start;
    background-color: #ffffff;
    width:220px;
}

.logs ul{
    padding: 0;
    list-style-position: inside;
    -webkit-padding-start: 0;
}
.logs li{
    list-style: none;
    height: 25px;
    display: flex;
    padding: 0;

}
.logs .hovered{
    background: #db53fd;
    color: white;
    width: 100%;


}

@keyframes marqueeAnimation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

#logs.active {
    bottom: 30px;
}

#logs.notactive {
    bottom: -230px;
}